/*p.error{
    color: red;
}
p.success{
    color:rgb(12, 172, 33)
}
p.success.feedback{
    border: 1px dashed rgb(12, 172, 33);
}
#content{
background-color: rgb(127, 79, 172);
padding: 20px;
}
div .error{
    color: purple;
}
a[href="https://www.google.com"]{
    background-color: rgb(124, 231, 231);
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href*="google"]{
    background-color: rgb(124, 231, 231);
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$=".com"]{
    background-color: rgb(124, 231, 231);
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;*/
    div{
        color: lightcoral;
        border: 1px solid grey ;
        font-weight: bold;
    }
div p{
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
color: orange;
}